{% extends "website/base.html" %}
{% block content %}
{% load static %}

    <section class="main-section">
        <div class="container">
            <h2> {{ haikus.title }} </h2>
            <p> By {{ haikus.author }} on {{ haikus.date_posted }} </p>
            <p> {{ haikus.haiku1 }} </p>
            <p> {{ haikus.haiku2 }} </p>
            <p> {{ haikus.haiku3 }} </p>
        </div>
    </section>

    <!-- Image Gallery Section -->
    <section class="image-gallery">
        <div class="image-container">
            <div class="gallery-item">
                <img src="{% static 'website/images/CB1.jpg' %}" alt="Cherry Blossom 1">
            </div>
            <div class="gallery-item">
                <img src="{% static 'website/images/CB2.jpg' %}" alt="Cherry Blossom 2">
            </div>
            <div class="gallery-item">
                <img src="{% static 'website/images/CB3.jpg' %}" alt="Cherry Blossom 3">
            </div>
        </div>
    </section>
{% endblock content %}
